language: python
sudo: required
python:
 - "2.7"
 - "3.6"
env:
  global:
    - MSSQL_SA_PASSWORD=Password@123
before_install:
 - docker pull microsoft/mssql-server-linux:2017-latest
 - docker run -e "ACCEPT_EULA=Y" -e "MSSQL_SA_PASSWORD=$MSSQL_SA_PASSWORD" -p 1433:1433 --name mssql1 -d microsoft/mssql-server-linux:2017-latest
 - curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
 - echo "deb [arch=amd64] https://packages.microsoft.com/ubuntu/14.04/prod trusty main" | sudo tee /etc/apt/sources.list.d/mssql-release.list
 - sudo apt-get update -qq
install:
 - python setup.py sdist
 - pip install dist/*
 - pip install pymysql psycopg2 pyodbc
 - pip install coverage coveralls
 - sudo ACCEPT_EULA=Y apt-get install msodbcsql17
before_script:
 - mysql -u root -e "GRANT ALL PRIVILEGES ON *.* TO 'travis'@'%';";
 - docker ps -a
 - odbcinst -q -d
 - .travis/wait.sh
script: coverage run setup.py test
after_success:
 - coveralls
services:
 - postgres
 - mysql
 - docker
